{% extends "base.html.twig" %}

{% block title %}{{ book.getTitle() }}{% endblock %}

{% block body %}


<main class="container my-4 comic_text">
    <!-- affichage du titre, de l'auteur, l'illustrateur et l'éditeur de la BD -->
    <div class="row">

        <div class="col-12 bg-white comic_case my-2 p-4 text-center">
            <h1 class="style_title"> {{ book.getTitle() }} </h1>
            <h2> {{ book.getAuthor() }} - {{ book.getIllustrator() }} - {{ book.getEditor() }}</h2>
        </div>

        <!-- affichage de la couverture et du résumé de la bd -->
        <div class="col-lg-4 pb-2 pr-md-2 py-md-2 pl-0">
            <div class="comic_case bg-white p-3">
                <div class="row">
                    <img src="{{book.getImgUrl()}}" class="col-12" alt="couverture" title="nom_de_la_BD" />
                    <!-- Bouton d'ajout de la bd a la bibliothèque utilisateur -->
                    {# rajout d'un condition de login pour l'affichage du bouton #}
                    {% if app.session.has('account') %}
                    <form method="POST" action="{{ path('displayOneBD',{ 'titleBook' : book.title }) }}"
                    class="col-12 ml-5 my-2">
                    <input name="addComicToUserLibrary" type="submit" class="btn btn-success"
                        value="Ajouter à ma bibliothèque">
                    </form>
                    {% endif %}
                    <!-- traitement des erreur si l'utilisateur possède déjà cette bd -->
                    {% if errors.alreadyExist is defined %}
                    <p class="text-danger ml-4">Vous avez déjà cette BD</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-8 pb-2 pl-2 py-md-2 pr-0">
            <div class="comic_case bg-white h-100 d-inline-block p-2">
                <h3 class="col-12">Résumé</h3>
                <p class="my-3"> {{ book.getSynopsis() }} </p>
            </div>
        </div>
        <hr>
    </div>
    {# fin de l'article #}

    {# partie commentaire a repeter avec un forIn #}
    {% for comment in comments %}
        <div class="row py-1 pt-md-2">
            <div class="col-12 comic_case bg-white">
                <div class="row">
                    <div class="col-lg-2 py-2">
                        <!-- TODO ajouter ici le pseudo de l'utilisateur ayant poster le commentaire -->
                        <i class="fas fa-user fa-5x"></i>
                    </div>
                    <div class="col-lg-9 my-3">
                        <p>
                            {{comment.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if app.session.has('account') %}
    <div class="row pt-3">
        {% if errors.invalidContent is defined %}
            <div class="col-12">
                <p class="alert alert-danger text-center">Commentaire invalide</p>
            </div>
        {% endif %}
        <div class="col-12 px-0">
            <div class="comic_case bg-light p-2">
                <form action="{{ path('displayOneBD',{ 'titleBook' : book.title }) }}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" name="inputComment" rows="5" cols="100"
                        placeholder="Donner votre avis !"></textarea>
                        <input class="btn btn-success mt-2" type="submit" value="Commenter">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}