{% extends "base.html.twig" %}

{% block title %}
Modifier mon profil
{% endblock title %}

{% block body %}

<!-- FormulairModifier mon profile de profil -->
<main class="container my-4 comic_text">
    <div class="row">


        <div class="col-md-12">
            <h1 class="col-12 col-lg-8 offset-lg-2 mb-4 style_title bg-white text-center p-4 comic_case">Editer votre profil</h1>
        </div>

        {% if success is defined %}
        <div class="col-md-10 comic_case">
            <p class="alert alert-success col-12 text-center">Compte modifié avec succès ! </p>
            <p> <a href="{{ path('home')}}"> Retour à l'accueil</a></p>
        </div>
        {% else %}
        <div class="col-md-12 comic_case bg-light">
            <form method="POST" action="{{ path('editProfil') }}">
                <!-- Ajouter avatar, uniquement fichiers png, jpeg, jpg -->
                {# <div class="form-group">                                       
                                        <div class="row">
                                            <div class="col-12 col-sm-9 order-2 order-sm-1">
                                                <label for="avatar" class="col-12 col-form-label font-weight-bold">Votre Avatar:</label> 
                                                <div class="container">
                                                <input id="avatar" name="avatar" placeholder="Avatar"  type="file" accept="image/png, image/jpeg, image/jpg">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-3 text-center order-1 order-sm-2">
                                                <i class="fas fa-user-circle fa-5x align-middle"></i>
                                            </div>   
                                        </div>                                                                  
                                    </div> #}
                <!-- Pseudo -->
                <div class="form-group row col-12">
                    <label for="pseudo" class="col-12 col-form-label font-weight-bold">Modifier votre pseudo :</label>
                    <div class="col-12">
                        <input id="pseudo" name="pseudo" placeholder="Pseudo" class="form-control here" type="text"
                            value="{{ app.session.get('account').pseudo }}">
                    </div>
                </div>
                {% if errors.invalidPseudo is defined %}
                <p style="color:red;"> Le pseudo doit contenir que des lettres </p>
                {% endif %}

                <!-- Adresse Email -->
                <div class="form-group row col-12">
                    <label for="email" class="col-12 col-form-label font-weight-bold">Modifier votre adresse e-mail
                        :</label>
                    <div class="col-12">
                        <input id="email" name="email" placeholder="Email" autocomplete="off" class="form-control here"
                            type="text" value="{{ app.session.get('account').email }}">
                    </div>
                </div>
                {% if errors.invalidEmail is defined %}
                <p style="color:red;"> L'email n'est pas valide </p>
                {% endif %}
                {% if errors.sameEmail is defined %}
                <p style="color:red;"> L'email est </p>
                {% endif %}

                <!-- Confimation Adresse Email   -->
                <div class="form-group row col-12">
                    <label for="confirmEmail" class="col-12 col-form-label font-weight-bold">Confirmer votre nouvelle
                        adresse e-mail :</label>
                    <div class="col-12">
                        <input id="confirmEmail" name="confirmEmail" autocomplete="off"
                            placeholder="Confirmer votre email" class="form-control here" type="text"
                            value="{{ app.session.get('account').email }}">
                    </div>
                </div>
                {% if errors.invalidEmailConfirm is defined %}
                <p style="color:red;"> La confirmation de l'email n'est pas valide </p>
                {% endif %}
                <!-- Ancien Mot de Passe -->
                <div class="form-group row col-12">
                    <label for="oldPassword" class="col-12 col-form-label font-weight-bold">Entrer votre ancien mot de
                        passe :</label>
                    <div class="col-12">
                        <input id="oldPassword" name="oldPassword" autocomplete="off" placeholder="Ancien mot de passe"
                            class="form-control here" type="password">
                    </div>
                </div>
                {% if errors.invalidOldPassword is defined %}
                <p style="color:red;"> Ancien mot de passe invalide </p>
                {% endif %}
                <!-- Nouveau Mot de Passe -->
                <div class="form-group row col-12">
                    <label for="newPassword" class="col-12 col-form-label font-weight-bold">Entrer votre nouveau mot de
                        passe :</label>
                    <div class="col-12">
                        <input id="newPassword" name="newPassword" autocomplete="off" placeholder="Nouveau mot de passe"
                            class="form-control here" type="password">
                    </div>
                </div>
                {% if errors.invalidPassword is defined %}
                <p style="color:red;"> Mot de passe invalide </p>
                {% endif %}
                {% if errors.sameUpdatePassword is defined %}
                <p style="color:red;"> Mot de passe non modifié </p>
                {% endif %}
                <!-- Confirmer Nouveau Mot de Passe -->
                <div class="form-group row col-12">
                    <label for="confirmNewPassword" class="col-12 col-form-label font-weight-bold">Confirmer votre
                        nouveau mot de passe :</label>
                    <div class="col-12">
                        <input id="confirmNewPassword" name="confirmNewPassword" autocomplete="off"
                            placeholder="Confirmez votre nouveau mot de passe" class="form-control here"
                            type="password">
                    </div>
                </div>
                {% if errors.invalidPasswordConfirm is defined %}
                <p style="color:red;"> Confirmation du nouveau mot de passe invalide </p>
                {% endif %}
                {% if errors.samePassword is defined %}
                <p style="color:red;"> Confirmation du mot de passe identique à l'ancien </p>
                {% endif %}
                <!-- Bouton Mettre à jour le profil -->
                <div class="form-group row col-12">
                    <div class="col-12 text-center">
                        <button name="submit" type="submit" class="btn btn-primary">Mettre à jour mon profil</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}

    </div>
</main>
{% endblock body %}