{% extends "base.html.twig" %}

{% block title %} Plan du site {% endblock title %}

{% block body %}
<div class="container my-4 comic_text">
    <div class="row">
        <div class="col-6 offset-3 pt-5">
            <h1 class="col-12 col-lg-8 offset-lg-2 mb-4 style_title bg-white text-center p-4 comic_case">Plan du site</h1>
        </div>

        <div class="col-6 offset-3 comic_case bg-white">
            <ul>
                <li><a href="{{ path('home') }}"> Accueil </a></li>
                <li><a href="{{ path('bdbddByTitle') }}"> Bibliothèque des BDs </a></li>
                <li><a href="{{ path('register') }}"> Inscription </a></li>
                <li><a href="{{ path('login') }}"> Connexion </a></li>
                <li><a href="{{ path('profil') }}"> Profil </a></li>
                <li><a href="{{ path('editProfil') }}"> Edition du profil </a></li>
                <li><a href="{{ path('contact') }}"> Contact </a></li>
                <li><a href="{{ path('mentions_legales') }}"> Mentions légales </a></li>
                <li><a href="{{ path('sitemap') }}"> Sitemap </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}